<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	 http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!--引入db.properties,获取链接数据库的基本信息-->
	<context:property-placeholder location="classpath:mybatis/db.properties" />


	<!--创建数据库连接池:dbcp连接池-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClass}" />
		<property name="url" value="${jdbc.jdbcUrl}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!--
		生成SqlSessionFactory
		需要配置原先SqlMapConfig.xml中的功能
	-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<!--引入数据源-->
			<property name="dataSource" ref="dataSource" />
			<!--给包指定别名-->
			<property name="typeAliasesPackage" value= "com.bjpowernode.blog.back.bean" />
			<!--导入映射文件-->
		    <property name="mapperLocations" value="classpath:mappers/*Mapper.xml" />
        <!--导入SqlMapConfig.xml:就是为了打印sql-->
        <property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml" />

			<!--配置Mybatis分页插件:PageHelper-->
			<property name="plugins">
				<array>
					<bean class="com.github.pagehelper.PageHelper">
						<property name="properties">
							<props>
								<!--dialect:数据库方言-->
								<prop key="dialect">mysql</prop>
								<prop key="supportMethodsArguments">true</prop>
							</props>
						</property>
					</bean>
				</array>
			</property>
	</bean>
	<!--使用tkMapper:简化单表操作-->
	<!--org.mybatis.spring.mapper.MapperScannerConfigurer-->
	<bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
		<!--查找SqlsessionFactory-->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
		<!--扫描mapper接口包-->
		<property name="basePackage"
                  value="com.xqr.blog.back.mapper,
com.xqr.blog.fore.mapper" />
	</bean>

</beans>